.calculator{
  width:200px;
}

.calculator__keys{
  display:grid;
  grid-template-columns:50px 50px 50px 50px;
  grid-template-rows:40px 40px 40px 40px 40px;
}

#zero {
  grid-column-start:1;
  grid-column-end:3;
  border-radius:0px 0px 0px 10px;
  border-width:1px;
}
#equal{
  border-radius:0px 0px 10px 0px;
  border-width:1px;
}
.calculator__display{
  background-color:#0288D1;
  color:white;
  text-align:right;
  font-size:200%;
  padding: 15px 15px 5px 0px;
  border-radius:10px 10px 0px 0px;
}

.calculator_display >div
{
}

.calculator__keys >  button{
  margin:0px;
  border:0px;
  background-color:#0288D1;
  font-size:inherit;
  font-family:inherit;
  font-weight:100;
  text-align:left;
  outline:0;
}

button.number{
  padding-left:20px;
}

#decimal{
  padding-left:22px;
}

button.operator{
  color:white;
  background-color:#03A9F4;
  text-align:center;
  border:0px;
}

button.additional{
  text-align:center;
}

.calculator__keys > button:active{
  background-color:grey;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 120%;
  font-weight: 100;
}

button.is-selected{
  background-color:#0288D1;
}
